<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
    	<span style="position: center;" *ngIf="cur <= items.length">{{ 'conjunctions.text4' | translate }} {{ cur }} / {{ items.length }}</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button
      	text=""
        icon="close-outline">
      </ion-back-button>
  	</ion-buttons>	  
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-slides pager="false">
	    <ion-slide *ngFor="let item of items">

				<h3 class="twi" style="font-size: 48px; padding: 0% 5% 1% 5%; margin: 0">{{ item.twi }}</h3>

				<p style="padding: 10px 5% 5% 5%; text-align: center; font-family: 'Poppins'; font-size: 25px" *ngIf="!content.dontshowenfr"><span *ngIf="selectedLanguage === 'fr'; else elseBlock">{{ item.fr }}</span><ng-template #elseBlock>{{ item.en }}</ng-template></p>

			<p class="itemtitle" style="padding: 10px 5% 3% 5%; text-align: center; font-family: 'Poppins'; font-size: 25px; color: #677483;" *ngIf="content.dontshowenfr">{{ item.description }}</p>

				<ion-icon  name="play-outline" color="dark" style="font-size: 40px; background: #FFFFFF; box-shadow:  7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff !important; padding: 15px; border-radius: 50%" (click)="play(item.audio)"></ion-icon>

			<p style="color: #666; padding: 10px 5% 0% 5%; text-align: center; font-family: 'Poppins'; font-size: 18px;" *ngIf="!content.dontshowenfr"><span *ngIf="selectedLanguage === 'fr'; else elseStatement"><small>{{ item.des_fr }}</small></span><ng-template #elseStatement><small>{{ item.description }}</small></ng-template></p>

				<div style="bottom: 0; width: 100%; padding-bottom: 8%; padding-top: 10%">
					<ion-button color="dark" (click)="next()" expand="full" style="width: 86%; margin-top: 0%; margin-left: 7%" *ngIf="cur != items.length">{{ 'quiz.text7' | translate }}</ion-button>

					<ion-button color="primary" (click)="next()" expand="full" style="width: 86%; margin-top: 0%; margin-left: 7%" *ngIf="cur == items.length">{{ 'quiz.finish' | translate }}</ion-button>

					<ion-button color="light" (click)="previous()" expand="full" style="width: 86%; margin-top: 3%; margin-left: 7%" *ngIf="cur != 1">
						<ion-ripple-effect type="bounded"></ion-ripple-effect>
						{{ 'quiz.text8' | translate }}
					</ion-button>
		    </div>
	    </ion-slide>

	    <ion-slide style="width: 100%;">
				<h3 class="twi" style="padding-bottom: 10vh; font-family: 'Poppins'; font-size: 25px">{{ 'conjunctions.text1' | translate }}</h3>
	    	<ion-button color="light" (click)="quiz('text')" expand="full" style="width: 86%; margin-left: 8%; margin-right: 8%; margin-top: 5%">{{ 'quiz.text4' | translate }}</ion-button>
	    	<ion-button color="dark" (click)="quiz('audio')" expand="full" style="width: 86%; margin-left: 8%; margin-right: 8%; margin-top: 4%">{{ 'quiz.text5' | translate }}</ion-button>
	    	<ion-button color="danger" (click)="stop()" expand="full" style="width: 86%; margin-left: 8%; margin-right: 8%; margin-top: 4%">
	    		<ion-ripple-effect type="bounded"></ion-ripple-effect>
	    		{{ 'conjunctions.text3' | translate }}
	    	</ion-button>
	    </ion-slide>
  	</ion-slides>
</ion-content>
	<!--<ion-footer style="text-align: center; width: 100%; text-align: center; align-self: center; align-content: center; position: relative; margin: 0 auto; padding: 5%">
	<ion-grid>
		<ion-row id="row">
			<ion-col>
				<ion-icon  name="play-skip-back-outline" color="dark" size="large" (click)="tostart()"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon  name="play-back-outline" color="dark" size="large" (click)="previous()"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon  name="play-forward-outline" color="dark" size="large" (click)="next()"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon  name="play-skip-forward-outline" color="dark" size="large" (click)="toend()"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-footer>-->
