<ion-header [trasnlucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'feedback.text' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="">
    <div style="padding: 5%">
      <p style="text-align: left; font-size: 20px; ">{{ 'feedback.text1' | translate }}</p>
      <form>
        <ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 1%; border-radius: 3px" lines="none">
          <ion-label position="floating" color="primary">{{ 'feedback.text' | translate }}</ion-label>
          <ion-input  type="text" required="true" #message style="--background: rgba(0,0,0,0);" placeholder="{{ 'feedback.text3' | translate }}"></ion-input>
        </ion-item>
        
        <ion-button size="default" expand="full" (click)="savefeedback()" style="margin-top: 5%;">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
          {{ 'feedback.text4' | translate }}
        </ion-button>
        <p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
      </form>
    </div>
  </div>
</ion-content>
