<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'verifyemail.verifymail' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h2>{{ 'verifyemail.verifymail' | translate }}</h2>
      <p>
        {{ 'verifyemail.text1' | translate }}
      </p>
      <ion-button type="submit" (click)="this.helper.SendVerificationMail()" expand="block">
        {{ 'verifyemail.text2' | translate }}
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>