<body>
  <ion-content style="--padding-bottom: 20%; --margin-bottom: 20%">

    <div style="text-align: center; border-radius: 0% 0% 50% 50% / 10% 10% 30% 30%; background: #1DBAF2; padding-top: 20%; padding-bottom: 10%">
        <h1 style="color: white; font-size: 60px; padding: 0; margin: 0">{{(this.total/30)*100 | number: '1.0-0'}}%</h1>
        <p style="font-size: 30px; color: white; padding: 0 0 10% 0; margin: 0">{{ 'progress.text1' | translate }}</p>
    </div>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-label>
          <h3><span *ngIf="selectedLanguage === 'fr'; else elseBlock">{{ item.fr }}</span><ng-template #elseBlock>{{ item.en }}</ng-template></h3>
          <p style="margin-bottom: 5px" *ngIf="item.sets == 1"> {{item.completed}} / {{ item.sets }} {{ 'home.compset' | translate }}</p>
          <p style="margin-bottom: 5px" *ngIf="item.sets > 1">{{item.completed}} / {{ item.sets }} {{ 'home.compset1' | translate }}</p>
        </ion-label>
        <ion-note slot="end" color="primary">{{(item.completed/item.sets)*100 | number: '1.0-0'}}%</ion-note>
      </ion-item>
    </ion-list>
  </ion-content>

</body>