<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
    	<span style="padding: 1% 5% 6% 5%; margin: 0" *ngIf="cur <= items.length">{{ 'conjunctions.text5' | translate }} {{ cur }} / {{ items.length }}</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button
      	text=""
        icon="close-outline">
      </ion-back-button>
	</ion-buttons>
 </ion-toolbar>
</ion-header>
<ion-content>
	<div>
		<ion-slides pager="false" #textslides>  
			<ion-slide *ngFor="let item of items" (ionChange)="choose($event)">
				<div *ngIf="!item.twi" style="width: 100%">
					<h3 class="itemtitle" style="text-transform: capitalize; font-size: 40px; padding: 1% 5% 6% 5%; margin: 0" *ngIf="type == 0"><span *ngIf="selectedLanguage === 'fr'; else elseBlock">{{ item.fr }}</span><ng-template #elseBlock>{{ item.en }}</ng-template></h3>
				</div>
				<div *ngIf="item.twi" style="width: 100%">
					<h3 class="itemtitle" style="text-transform: capitalize; font-size: 40px; padding: 1% 5% 6% 5%; margin: 0" *ngIf="type == 0">{{ item.twi }}</h3>
				</div>
				<h3 class="itemtitle" style="text-transform: capitalize; font-size: 20px; padding: 1% 5% 10% 5%; margin: 0; text-align: left;" *ngIf="type == 1">{{ 'quiz.text3' | translate }}</h3>

				<ion-icon  name="play-outline" color="dark" size="large" (click)="play(item.audio)" *ngIf="type == 1" style="font-size: 40px; background: #FFFFFF; box-shadow:  7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff !important; padding: 15px; border-radius: 50%; margin-bottom: 5%"></ion-icon>

				<ion-list style="width: 90%;">
					<ion-radio-group #theanswer>
						<ion-item *ngFor="let answer of item.ans" lines="none" style="border: 1px solid #f2f2f2; margin-top: 5%; border-radius: 3px;">
							<ion-label *ngIf="type == 0" color="dark" style="font-size: 20px; --color: #677483">{{ answer.twi }}</ion-label>

							<ion-label *ngIf="type == 1 && selectedLanguage === 'en' && showtwiinquiz" color="dark" style="font-size: 20px; --color: #677483">{{ answer.twi }}</ion-label>

							<ion-label *ngIf="type == 1 && selectedLanguage === 'en' && !showtwiinquiz" color="dark" style="font-size: 20px; --color: #677483">{{ answer.en }}</ion-label>

							<ion-label *ngIf="type == 1 && selectedLanguage === 'fr' && showtwiinquiz" color="dark" style="font-size: 20px; --color: #677483">{{ answer.twi }}</ion-label>

							<ion-label *ngIf="type == 1 && selectedLanguage === 'fr' && !showtwiinquiz" color="dark" style="font-size: 20px; --color: #677483">{{ answer.fr }}</ion-label>

							<ion-radio *ngIf="type == 0" slot="start" value="{{ answer.iscorrect }} - {{ answer.twi }}" color="secondary" mode="md" style="--color: #f2f2f2"></ion-radio>

							<ion-radio *ngIf="type == 1 && selectedLanguage === 'en'" slot="start" value="{{ answer.iscorrect }} - {{ answer.en }}" color="secondary" mode="md" style="--color: #f2f2f2"></ion-radio>

							<ion-radio *ngIf="type == 1 && selectedLanguage === 'fr'" slot="start" value="{{ answer.iscorrect }} - {{ answer.fr }}" color="secondary" mode="md" style="--color: #f2f2f2"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</ion-list>
			</ion-slide>

		  <ion-slide>
				<ion-button color="dark" (click)="finish()" expand="full" style="width: 86%; margin-left: 8%; margin-right: 8%; margin-top: 2%">{{ 'quiz.text1' | translate }}</ion-button>
		    	<ion-button color="danger" (click)="stop()" expand="full" style="width: 86%; margin-left: 8%; margin-right: 8%; margin-top: 4%">
		    		<ion-ripple-effect type="bounded"></ion-ripple-effect>
		    		{{ 'quiz.text2' | translate }}
		    	</ion-button>
			</ion-slide>
		</ion-slides>
	</div>
</ion-content>

<ion-footer style="text-align: center; width: 100%; text-align: center; align-self: center; align-content: center; position: relative; margin: 0 auto;">
	<ion-grid>
		<ion-row id="row">
			<ion-col>
				<ion-icon  name="play-skip-back-outline" color="dark" size="large" (click)="tostart()"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon  name="play-back-outline" color="dark" size="large" (click)="previous()"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon  name="play-forward-outline" color="dark" size="large" (click)="next()"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon  name="play-skip-forward-outline" color="dark" size="large" (click)="toend()"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>


