<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'about.about' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div style="padding: 0% 3% 3% 3%">
		<p style="text-align: justify; font-family: 'Poppins'">{{ 'about.text1' | translate }}</p>
		<hr>
		<!-- <h4>Team</h4>
		<ion-grid style="padding-left: 0px">
			<ion-row style="padding-left: 0px">
			    <ion-col size="5" style="padding-left: 0px">
			      	<ion-card>
        				<img src="assets/images/boy.jpg" />
				    </ion-card>
			    </ion-col>
			    <ion-col size="7">
			      	<h3>Elvis Okoh-Asirifi</h3>
			      	<p>Team Lead & Developer</p>
					<p><small>Ashesi University</small></p>
			</ion-col>
		  </ion-row>
		</ion-grid>
		<ion-grid style="padding-left: 0px">
			<ion-row style="padding-left: 0px">
			    <ion-col size="5" style="padding-left: 0px">
			      	<ion-card>
        				<img src="assets/images/girl.jpg" />
				    </ion-card>
			    </ion-col>
			    <ion-col size="7">
			      	<h3>Pamela Quartson</h3>
			      	<p>Developer</p>
					<p><small>Ashesi University</small></p>
			    </ion-col>
		  </ion-row>
		</ion-grid>
		<ion-grid style="padding-left: 0px">
			<ion-row style="padding-left: 0px">
			    <ion-col size="5" style="padding-left: 0px">
			      	<ion-card>
        				<img src="assets/images/girl.jpg" />
				    </ion-card>
			    </ion-col>
			    <ion-col size="7">
			      	<h3>Elvira Ayawa Agbatsi</h3>
			      	<p>French Translator</p>
					<p><small>Ashesi University</small></p>
			    </ion-col>
		  </ion-row>
		</ion-grid>
		<ion-grid style="padding-left: 0px">
			<ion-row style="padding-left: 0px">
			    <ion-col size="5" style="padding-left: 0px">
			      	<ion-card>
        				<img src="assets/images/girl.jpg" />
				    </ion-card>
			    </ion-col>
			    <ion-col size="7">
			      	<h3>Gracia Biduaya</h3>
			      	<p>French Translator</p>
					<p><small>Ashesi University</small></p>
			    </ion-col>
		  </ion-row>
		</ion-grid> -->
	</div>
</ion-content>