<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'editprofile.text1' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  	</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
	<div id="">
		<div style="padding: 5%">
			<form>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-label position="floating" color="primary">{{ 'signup.name' | translate }}</ion-label>
					<ion-input  type="text" required="true" #name style="--background: rgba(0,0,0,0);" placeholder="{{ 'signup.name' | translate }}"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-label position="floating" color="primary">{{ 'signup.email' | translate }}</ion-label>
					<ion-input  type="email" required="true" #email style="--background: rgba(0,0,0,0);" placeholder="{{ 'signup.email' | translate }}" disabled="disabled"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-label position="floating" color="primary">{{ 'signup.phone' | translate }}</ion-label>
					<ion-input  type="tel" required="true" #phone style="--background: rgba(0,0,0,0);" placeholder="{{ 'signup.phone' | translate }}"></ion-input>
				</ion-item>
				<ion-button size="default" expand="full" (click)="save()" style="margin-top: 5%;" [disabled]=!ishidden>
					<ion-ripple-effect type="bounded"></ion-ripple-effect>
					{{ 'editprofile.text2' | translate }}<ion-spinner name="lines-small" [hidden]=ishidden></ion-spinner>
				</ion-button>
				<p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
			</form>
		</div>
	</div>
</ion-content>
