ion-label h3{
	font-size: 18px;
	text-transform: capitalize; 
}
.rings {
	display: flex;
	flex-direction: row;
	margin-left: 490px;
  }
  
  .percent1, .percent2, svg, circle {
	width: 100px;
	height: 100px;
  }
  
  circle {
	position: relative;
	left: 150px;
	fill: white;
	stroke-width: 3;
	transform: translate(10px, 10px);
	stroke-dasharray: 440;
	stroke-linecap: round;
  }

   
//   .percent1 circle:nth-child(2) {
// 	stroke-dashoffset: calc(440 - (440 * 75) / 100);
// 	stroke-dasharray: 440;
// 	stroke: #1DBAF2;
// 	animation: percent 1.5s linear;
// 	animation-delay: 1s;
// 	margin-right: -150px;
//   }

//   circle:nth-child(2) {
// 	stroke-dashoffset: 0;
// 	stroke: #7a7a7a;
//   }
  .percent2 circle:nth-child(2) {
    stroke-dashoffset: calc(200 - (200 * 33) / 100);
    stroke: #1DBAF2;
	stroke-dasharray: 200;
    animation: percent 1.8s linear;
    animation-delay: 1.2s;
}

  .number1 {
	font-size: 12px;
	position: relative;
	bottom: 150px;
	right: -16px;
	color: #1DBAF2;
  }
    
  span {
	font-size: 20px;
	opacity: .7;
  }
  
  .percent1 span {
	color: #1DBAF2;
  }
  
  @keyframes percent {
	0% {
	  stroke-dashoffset: 0;
	  stroke-width: 0;
	}
  }