<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'forums.forums' | translate }}</ion-title>
    <ion-buttons slot="start">
	    <ion-back-button></ion-back-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-content [fullscreen]="true">
  	<div *ngIf="!rooms">
	    <ion-item>
	      <ion-label>
	        <h3>
	          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
	        </h3>
	        <p>
	          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
	        </p>
	      </ion-label>
	    </ion-item>
	    <ion-item>
	      <ion-label>
	        <h3>
	          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
	        </h3>
	        <p>
	          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
	        </p>
	      </ion-label>
	    </ion-item>
	    <ion-item>
	      <ion-label>
	        <h3>
	          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
	        </h3>
	        <p>
	          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
	        </p>
	      </ion-label>
	    </ion-item>
	    <ion-item>
	      <ion-label>
	        <h3>
	          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
	        </h3>
	        <p>
	          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
	        </p>
	      </ion-label>
	    </ion-item>
	</div>

  <div style="margin-top: 5px;">
    <div>
      <ion-list>
        <ion-item *ngFor="let room of rooms">
		      <ion-label>
		        <h3>{{room.title}}</h3>
		        <p style="margin-bottom: 5px"> {{ 'forums.text' | translate }} {{room.creator}}</p>
		      </ion-label>
		    </ion-item>
       </ion-list>
    </div> 
    <p *ngIf="rooms?.length == 0" style="font-size: 16px; text-align: center; margin-top: 10%">{{ 'forums.text1' | translate }}</p>
  </div>
</ion-content>
