.round { border-radius: 50%; }

.circle {
  border-radius: 50%;
  height: 50px;
  text-align: center;
  width: 50px;
  max-width: 50px;
}

.initials {
  font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
  line-height: 1;
  position: relative;
  top: 12.5px;
  color: white;
}