<ion-header>
  <ion-toolbar>
    <ion-title>{{roomname}}</ion-title>
    <ion-buttons slot="start">
	    <ion-back-button></ion-back-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <div>
      <ion-list #dynamicList>
      <ion-item lines="none" *ngFor="let message of messages; let i = index" style="margin-top: 1%">
          <ion-card style="padding-top: 10px; padding-bottom: 10px; width: 80%; background: #00a1de; padding-left: 5%; padding-right: 5%; margin-left: 10%; color: white" *ngIf="message.senderid === id">
            <p style="color: white;">{{message.message}}</p>
          </ion-card>
          <ion-card style="padding-top: 10px; padding-bottom: 10px; width: 80%; background: #f54269; padding-left: 5%; padding-right: 5%; color: white" *ngIf="message.sender != name">
            <p style="font-weight: bold;">{{message.sender}}</p>
            <p>{{message.message}}</p>
            <p><small>{{convertdate(message.date)}}</small><p>
          </ion-card>
      </ion-item>
    </ion-list>
    </div> 
    <p *ngIf="messages?.length == 0" style="font-size: 18px; text-align: center; margin-top: 10%">{{ 'chat.text' | translate }}</p>
  </div>
</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-textarea rows="1" placeholder="{{ 'chat.text1' | translate }}" #message (keyup.enter)="sendMessage()" auto-grow="true" autofocus="true"></ion-textarea>
    <ion-icon name="paper-plane-outline" slot="end" (click)="sendMessage()" style="transform: rotate(45deg);"></ion-icon>
  </ion-item> 
</ion-footer>