<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        {{ 'pages.beginner' | translate }}
      </ion-title>
      <ion-buttons slot="start">
	      <ion-back-button></ion-back-button>
	    </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item lines="none" (click)="navigate('alphabet')" detail="true">
			<ion-icon name="text" slot="start" size="small" color="light" style="background: rgb(0, 161, 225); border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.alphabet' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">{{ 'pages.text1' | translate }}</p>
			</ion-label>
		</ion-item>
		<ion-item lines="none" (click)="navigate('numbers')" detail="true">
			<ion-icon name="calculator" slot="start" size="small" color="light" style="background: #f442bf; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.numbers' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">{{ 'pages.text2' | translate }}</p>
			</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="navigate('pronouns')" detail="true">
			<ion-icon name="man" slot="start" size="small" color="light" style="background: #ca41f4; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.pronouns' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">{{ 'pages.text3' | translate }}</p>
			</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="navigate('nouns')" detail="true">
			<ion-icon name="people" slot="start" size="small" color="light" style="background: #0a5928; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.nouns' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">{{ 'pages.text4' | translate }}.</p>
			</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="navigate('verbs')" detail="true">
			<ion-icon name="walk-outline" slot="start" size="small" color="light" style="background: #0a5928; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.verbs' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">{{ 'pages.text5' | translate }}</p>
			</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="navigate('adjectives')" detail="true">
			<ion-icon name="information-circle-outline" slot="start" size="small" color="light" style="background: #ed4015; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.adjectives' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">{{ 'pages.text6' | translate }}</p>
			</ion-label>
		</ion-item>
		<!-- <ion-item lines="none" (click)="navigate('adverbs')" detail="true">
			<ion-icon name="alarm" slot="start" size="small" color="light" style="background: #4260f5; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.adverbs' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">Manner, Time, Place, Frequency, Degree</p>
			</ion-label>
		</ion-item> -->
		<ion-item lines="none" (click)="navigate('conjunctions')" detail="true">
			<ion-icon name="add-circle-outline" slot="start" size="small" color="light" style="background: #666; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.conjunctions' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">{{ 'pages.text7' | translate }}</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
