<ion-content>
	<div id="container">
		<div style="padding: 5%">
			<img src="assets/my-password.png" style="max-width: 210px">
			<h1 style="text-align: center;">{{ 'login.text1' | translate }}</h1>
			<form>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-icon name="mail-outline" size="small" style="margin-right: 5%" color="primary"></ion-icon>
					<ion-input  type="email" required="true" #email style="--background: rgba(0,0,0,0);" placeholder="{{ 'login.email' | translate }}"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-icon name="lock-closed-outline" size="small" style="margin-right: 5%" color="primary" position="stacked"></ion-icon>
					<ion-input type="password" minlength="6" required="true" #password placeholder="{{ 'login.password' | translate }}" style="--background: rgba(0,0,0,0)"></ion-input>
				</ion-item>
				<p style="text-align: right; margin-top: 3%; color: #3880ff" (click)="helper.navigate('forgot-password')"><small>{{ 'login.forgot' | translate }}</small></p>
				
				<ion-button size="default" expand="full" (click)="login()" style="margin-top: 3%;" [disabled]=!ishidden>
					<ion-ripple-effect type="bounded"></ion-ripple-effect>
					{{ 'signup.signin' | translate }} <ion-spinner name="lines-small" [hidden]=ishidden></ion-spinner>
				</ion-button>
				<p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
			</form>
		</div>
		<p>{{ 'login.noaccount' | translate }} <span style="color: #3880ff" (click)="helper.navigate('signup')">{{ 'login.signin' | translate }}</span></p>
	</div>
</ion-content>