<ion-content>
  <ion-slides pager="false" style="padding-top: 10%;">
    <ion-slide>
      <ion-img src="/assets/{{ image }}"></ion-img>
      <p style="color: #666; padding: 5vh 5% 5% 5%; text-align: center; font-family: 'Poppins'; font-size: 15px">{{ message }}</p>
    </ion-slide>
  </ion-slides>
  
  <ion-button color="danger" (click)="start()" expand="full" style="width: 86%; margin-left: 8%; margin-right: 8%; margin-top: 2%">
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
    {{ 'quiz.text6' | translate }}
  </ion-button>
</ion-content>