<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span *ngIf="selectedLanguage === 'fr'; else elseBlock">{{ this.fr }}</span><ng-template #elseBlock>{{ this.en }}</ng-template>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #f1f1f1">
  <ion-list style="--background: #f1f1f1; background: #f1f1f1; padding-left: 2%; padding-right: 2%; margin-bottom: 5%">
    <ion-item lines="none" (click)="content(i)" *ngFor="let child of children; let i = index" style="margin-top: 3%; background: #fff; border-radius: 5px; padding: 1% 0;">
      <ion-icon name="{{child.icon}}"  slot="start" color="light" style="background: #e91c2b; border-radius: 100%; padding: 10px; font-size: 15px;" *ngIf="i%8 === 0"></ion-icon>

      <ion-icon name="{{child.icon}}"  slot="start" color="light" style="background: #7e6852; border-radius: 100%; padding: 10px; font-size: 15px;" *ngIf="i%8 === 1"></ion-icon>

      <ion-icon name="{{child.icon}}"  slot="start" color="light" style="background: #eacf29; border-radius: 100%; padding: 10px; font-size: 15px;" *ngIf="i%8 === 2"></ion-icon>

      <ion-icon name="{{child.icon}}"  slot="start" color="light" style="background: #0ba350; border-radius: 100%; padding: 10px; font-size: 15px;" *ngIf="i%8 === 3"></ion-icon>

      <ion-icon name="{{child.icon}}"  slot="start" color="light" style="background: #44a0e2; border-radius: 100%; padding: 10px; font-size: 15px;" *ngIf="i%8 === 4"></ion-icon>

      <ion-icon name="{{child.icon}}"  slot="start" color="light" style="background: #d80b91; border-radius: 100%; padding: 10px; font-size: 15px;" *ngIf="i%8 === 5"></ion-icon>

      <ion-icon name="{{child.icon}}"  slot="start" color="light" style="background: #693598; border-radius: 100%; padding: 10px; font-size: 15px;" *ngIf="i%8 === 6"></ion-icon>

      <ion-icon name="{{child.icon}}"  slot="start" color="light" style="background: #6c330d; border-radius: 100%; padding: 10px; font-size: 15px;" *ngIf="i%8 === 7"></ion-icon>

      <ion-label class="ion-text-wrap" style="padding-left: 2%;">
        <ion-text>
          <h3 style="font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><span *ngIf="selectedLanguage === 'fr'; else elseBlock">{{ child.fr }}</span><ng-template #elseBlock>{{ child.en }}</ng-template></h3>
        </ion-text>
        <p style="font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><span *ngIf="selectedLanguage === 'fr'; else elseStatement">{{ child.fr_text }}</span><ng-template #elseStatement>{{ child.en_text }}</ng-template></p> 
      </ion-label>
      <ion-icon  name="arrow-forward-outline" color="light" style="font-size: 13px; background: #000; padding: 7px; border-radius: 50%" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>