ion-slide{
    height: 82vh;
    flex-direction: column;
    text-align: center;

}

ion-img{
    max-width: 35vh;
	max-height: 50vh;
	overflow: hidden;
}

ion-icon{
	margin-left: 2hv;
	margin-right: 2vh;
}

small{
	font-family: 'Poppins';
}
p{
	font-family: 'Poppins'
}