<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline" size="small"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="progress">
      <ion-icon name="bar-chart-outline" size="small"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="forums">
      <ion-icon name="chatbubbles-outline" size="small"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="chatbox-ellipses-outline" size="small"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="options-outline" size="small"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
