<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'settings.password' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
	<div id="">
		<div style="padding: 5%">
			<form>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-label position="floating" color="primary">{{ 'changepassword.text2' | translate }}</ion-label>
					<ion-input  type="email" required="true" #email style="--background: rgba(0,0,0,0);" placeholder="Email"></ion-input>
				</ion-item>
				<ion-button size="default" expand="full" (click)="sendlink()" style="margin-top: 5%;">
					<ion-ripple-effect type="bounded"></ion-ripple-effect>
					{{ 'changepassword.text5' | translate }}
				</ion-button>
				
				<p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
			</form>
		</div>
	</div>
</ion-content>
