<body>
  <ion-content style="padding-left: 5%">
    <div style="padding: 5%;">
    	<h3>{{ 'lessons.learning' | translate }}</h3>
    </div>
    <hr>
    <div style="padding: 5%; margin-bottom: 5%;">
    	<p>{{ 'lessons.lesson' | translate }}</p>
    	<ion-grid style="padding-left: 0px" (click)="beginner()">
    		<ion-row style="padding-left: 0px">
			    <ion-col size="5" style="padding-left: 0px">
			      	<ion-card style="background-color: rgb(0, 161, 225)">
						  <ion-card-header>
						  	<ion-card-title style="font-size: 50px; color: #fff">1</ion-card-title>
						  	<hr>
						    <ion-card-subtitle style="color: #fff">{{ 'lessons.status' | translate }}</ion-card-subtitle>
						  </ion-card-header>
					</ion-card>
			    </ion-col>
			    <ion-col size="7">
			      	<h3>{{ 'lessons.level' | translate }}</h3>
			      	<p>{{ 'lessons.status' | translate }}</p>
    				<p><small>7 {{ 'lessons.lessons_lower' | translate }} | 4 {{ 'lessons.hour' | translate }}</small></p>
			    </ion-col>
		  	</ion-row>
    	</ion-grid>
    </div>

  </ion-content>
</body>