<body>
  <ion-content>
    <div style="padding: 5%; color: white; border-radius: 0; background: #1DBAF2; padding-top: 15%; padding-bottom: 5%; border-radius: 0 0 28px 28px;">

      <ion-item button detail="false" style="--padding-start: 0; --background: rgba(0,0,0,0)" lines="none">
        <ion-thumbnail slot="start" style="--border-radius: 50%">
          <img src="{{ dp }}">
        </ion-thumbnail>
        <ion-label color="light">
          <p>{{ 'home.salutation' | translate }},</p>
          <p style="font-size: 23px">{{ helper.name }} 👋🏽</p>
        </ion-label>
      </ion-item>
      
      <h2 style="text-transform: capitalize; font-weight: bold; margin-top: 10%; margin-bottom: 10%">{{ 'home.text1' | translate }}</h2>

      <ion-searchbar animated  (ionChange)="searchByKeyword()" #search placeholder="{{ 'home.search' | translate }}"></ion-searchbar>
    </div>
    <div style="padding: 5% 2% 55% 2%; width: 100%; padding-bottom: 10%; border-radius: 30% 30% 44% 0% / 24% 24% 0% 11% ">
      <ion-card-content style="margin: 0; padding: 0; padding-top: 0%">
        <ion-card style="margin: 0; background-color: #e3f6ff; padding: 0; margin-bottom: 5%" (click)="next(item.link)" *ngFor="let item of items">
          <ion-grid>
            <ion-row>
              <ion-col style="text-align: left; font-family: 'Poppins'; padding: 5%">
                <ion-badge color="primary" style="margin-bottom: 5px">{{ item.level }}</ion-badge>
                <p style="margin-bottom: 5px; text-transform: capitalize;">{{ level }}</p>
                <h2 style="margin-bottom: 5px; font-weight: bold;">
                  <span *ngIf="selectedLanguage === 'fr'; else elseBlock">{{ item.fr }}</span><ng-template #elseBlock>{{ item.en }}</ng-template>
                </h2>
                <p style="margin-bottom: 5px" *ngIf="item.sets == 1">{{ item.sets }} {{ 'home.learnset' | translate }}</p>
                <p style="margin-bottom: 5px" *ngIf="item.sets > 1">{{ item.sets }} {{ 'home.learnset1' | translate }}</p>
              </ion-col>
              <ion-col size="5" style="width: 100%; text-align: center; align-self: center; align-content: center; position: relative; margin: 0 auto;">
                <img src="assets/images/{{ item.image }}" style="max-height: 130px">
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card>
    </ion-card-content>
  </div>
  </ion-content>
</body>