<ion-content>
  <div id="container" style="padding: 8%">
  	<img src="assets/question.png" style="max-width: 250px">
    <h3 style="margin-top: 10%; padding: 0 1%">{{ 'chat.welcome' | translate }}</h3>
    <p style="text-align: center; padding: 0 1%">{{ 'chat.desc' | translate }}</p>
    <ion-button size="default" expand="full" (click)="chat()" style="margin-top: 10%;">
		<ion-ripple-effect type="bounded"></ion-ripple-effect>
		{{ 'chat.ask' | translate }}
	</ion-button>
  </div>
</ion-content>
