<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
    	<span *ngIf="cur <= items.length">{{ 'conjunctions.text4' | translate }} {{ cur }} / {{ items.length }}</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button
      	text=""
        icon="close-outline">
      </ion-back-button>
  	</ion-buttons>
  </ion-toolbar>
  </ion-header>
<ion-content>
	<ion-slides pager="false">
	    <ion-slide *ngFor="let item of items">
	    	<div class="slide-div">
		      <h3 class="twi" style="text-transform: capitalize; font-size: 60px; padding: 0% 5% 1% 5%; margin: 0">{{ item.letter }}{{ item.letter }}</h3>
		      
		      <p style="color: rgb(170, 156, 156); padding: 10px 5% 5% 5%; text-align: center; font-family: 'Poppins'; font-size: 25px"><small><span *ngIf="selectedLanguage === 'fr'; else elseBlock">Prononcé: {{ item.fpro }}</span><ng-template #elseBlock>Pronounced: {{ item.epro }}</ng-template></small></p>

		      <ion-icon  name="play-outline" color="dark" style="font-size: 40px; background: #FFFFFF; box-shadow:  7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff !important; padding: 15px; border-radius: 50%" (click)="play(item.letter)"></ion-icon>

		      <div style="bottom: 0; width: 100%; padding-bottom: 3%; padding-top: 20%">
						<ion-button color="dark" (click)="next()" expand="full" style="width: 86%; margin-top: 0%; margin-left: 7%">{{ 'quiz.text7' | translate }}</ion-button>

						<ion-button color="light" (click)="previous()" expand="full" style="width: 86%; margin-top: 3%; margin-left: 7%">
							<ion-ripple-effect type="bounded"></ion-ripple-effect>
							{{ 'quiz.text8' | translate }}
						</ion-button>
			    </div>
		    </div>
	    </ion-slide>
	    <ion-slide>
	    	<div class="slide-div">
		    	<h3 class="twi" style="font-size: 25px; padding-left: 8%; padding-right: 8%; text-align: left;">{{ 'alphabet.text2' | translate }}
		    		<br>
		    		<br>
		    		<span style="font-size: 20px">{{ 'alphabet.text3' | translate }} 😌...</span>
		    	</h3>
		    	<div style="bottom: 0; width: 100%; padding-bottom: 3%; padding-top: 20%">
						<ion-button color="dark" (click)="next()" expand="full" style="width: 86%; margin-top: 0%; margin-left: 7%">{{ 'quiz.text7' | translate }}</ion-button>

						<ion-button color="light" (click)="previous()" expand="full" style="width: 86%; margin-top: 3%; margin-left: 7%">
							<ion-ripple-effect type="bounded"></ion-ripple-effect>
							{{ 'quiz.text8' | translate }}
						</ion-button>
			    </div>
			  </div>
	    </ion-slide>
	    <ion-slide>
	    	<div class="slide-div">
		    	<h3 class="twi" style="font-size: 20px; padding-left: 8%; padding-right: 8%; text-align: left; width: 100%">{{ 'alphabet.text4' | translate }}
		    	<br>
		    	<br>
		    	{{ 'alphabet.text5' | translate }}
		    	<br>
		    	<br>
		    	{{ 'alphabet.text6' | translate }}
		    	<br>
		    	<br>
		    	{{ 'alphabet.text7' | translate }}
		    	<br>
		    	<br>
		    	{{ 'alphabet.text8' | translate }}
		    	<br>
		    	<br>
		    	{{ 'alphabet.text9' | translate }}</h3>
		    	<div style="bottom: 0; width: 100%; padding-bottom: 3%; padding-top: 20%">
						<ion-button color="dark" (click)="next()" expand="full" style="width: 86%; margin-top: 0%; margin-left: 7%">{{ 'quiz.text7' | translate }}</ion-button>

						<ion-button color="light" (click)="previous()" expand="full" style="width: 86%; margin-top: 3%; margin-left: 7%">
							<ion-ripple-effect type="bounded"></ion-ripple-effect>
							{{ 'quiz.text8' | translate }}
						</ion-button>
			    </div>
			   </div>
	    </ion-slide>
	    <ion-slide>
	    	<div class="slide-div">
		    	<h3 class="twi" style="font-size: 20px; padding-left: 8%; padding-right: 8%; text-align: left; width: 100%">{{ 'alphabet.text10' | translate }}
		    		<br>
		    		<br>
		    		{{ 'alphabet.text11' | translate }}
		    		<br>
		    		<br>
		    		{{ 'alphabet.text12' | translate }}
		    	</h3>
		    	<div style="bottom: 0; width: 100%; padding-bottom: 3%; padding-top: 20%">
						<ion-button color="dark" (click)="next()" expand="full" style="width: 86%; margin-top: 0%; margin-left: 7%">{{ 'quiz.text7' | translate }}</ion-button>

						<ion-button color="light" (click)="previous()" expand="full" style="width: 86%; margin-top: 3%; margin-left: 7%">
							<ion-ripple-effect type="bounded"></ion-ripple-effect>
							{{ 'quiz.text8' | translate }}
						</ion-button>
			    </div>
			  </div>
	    </ion-slide>
	    <ion-slide>
	    	<div class="slide-div" style="overflow: auto;">
		    	<h3 class="twi" style="font-size: 20px; text-align: left; padding-left: 7%; padding-right: 8%">{{ 'alphabet.text13' | translate }}
		    				<br>
				    		<br> anomaa
				    		<br>
				    		<br>
				    		hyehyɛ
				    		<br>
				    		<br>
				    		odwan
				    		<br>
				    		<br>
				    		kyiniiɛ
				    		<br>
				    		<br>
				    		hyire
				    		<br>
				    		<br>
				    		gyata
				    		<br>
				    		<br>
				    		kukuo
				    		<br>
				    		<br>
				    		kiki
				    		<br>
				    		<br>
				    		daeɛ
				    </h3>
					    
				    <div style="width: 100%; padding-bottom: 3%; padding-top: 10%">
							<ion-button color="primary" (click)="next()" expand="full" style="width: 86%; margin-top: 0%; margin-left: 7%">{{ 'quiz.finish' | translate }}</ion-button>

							<ion-button color="light" (click)="previous()" expand="full" style="width: 86%; margin-top: 3%; margin-left: 7%">
								<ion-ripple-effect type="bounded"></ion-ripple-effect>
								{{ 'quiz.text8' | translate }}
							</ion-button>
				    </div>
			  </div>
	    </ion-slide>

		<ion-slide style="width: 100%;">
			<h3 class="twi" style="padding-bottom: 10vh; font-family: 'Poppins'; font-size: 25px">{{ 'conjunctions.text1' | translate }}</h3>
	    	<!--<ion-button color="light" (click)="quiz('text')" expand="full" style="width: 86%; margin-left: 8%; margin-right: 8%; margin-top: 2%">{{ 'quiz.text4' | translate }}</ion-button>-->
	    	<ion-button color="dark" (click)="quiz('audio')" expand="full" style="width: 86%; margin-left: 8%; margin-right: 8%; margin-top: 2%">{{ 'quiz.text5' | translate }}</ion-button>
	    	<ion-button color="danger" (click)="stop()" expand="full" style="width: 86%; margin-left: 8%; margin-right: 8%; margin-top: 4%">
	    		<ion-ripple-effect type="bounded"></ion-ripple-effect>
	    		{{ 'conjunctions.text3' | translate }}
	    	</ion-button>
	    </ion-slide>
		
  	</ion-slides>
 </ion-content>
<!--<ion-footer style="text-align: center; width: 100%; text-align: center; align-self: center; align-content: center; position: relative; margin: 0 auto;">
	<ion-grid>
		<ion-row id="row">
			<ion-col>
				<ion-icon  name="play-skip-back-outline" color="dark" size="large" (click)="tostart()"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon  name="play-back-outline" color="dark" size="large" (click)="previous()"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon  name="play-forward-outline" color="dark" size="large" (click)="next()"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon  name="play-skip-forward-outline" color="dark" size="large" (click)="toend()"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>-->

