ion-slide{
    height: 90vh;
    flex-direction: column;
    text-align: center;
}

ion-img{
    max-width: 35vh;
	max-height: 50vh;
	overflow: hidden;
}

ion-icon{
	margin-left: 2hv;
	margin-right: 2vh;
}

small{
	font-family: 'Poppins';
}

*{
	color: #677483
}

.twi{}

ion-row, ion-col{
	width: 100%
}

.slide-div{
	width: 100%;
}