ion-slide{
    height: 60vh;
    flex-direction: column;
    text-align: justify;

}

ion-img{
    max-width: 35vh;
	max-height: 50vh;
	overflow: hidden;
}

ion-button{
	text-transform: uppercase;
}

*{
    font-family: 'Poppins'
}