<ion-content>
  <h3 class="center" style="margin-top: 10vh; color: #666; text-transform: uppercase;">YɛMA WO AKWAABA</h3>
  <ion-slides pager="true">
    <ion-slide>
      <ion-img src="/assets/read.svg"></ion-img>
      <p style="color: #666; padding: 10px 5% 5% 5%; text-align: center; font-family: 'Poppins'; font-size: 15px">{{ 'welcome.text1' | translate }}</p>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/chat.svg"></ion-img>
      <p style="color: #666; padding: 10px 5% 5% 5%; text-align: center; font-family: 'Poppins'; font-size: 15px">{{ 'welcome.text2' | translate }}</p>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/grow.svg"></ion-img>
      <p style="color: #666; padding: 10px 5% 5% 5%; text-align: center; font-family: 'Poppins'; font-size: 15px">{{ 'welcome.text3' | translate }}</p>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none" style="margin-left: 5%; margin-right: 5%; margin-bottom: 3vh;">
    <ion-label style="font-family: 'Poppins'">Language / Langue</ion-label>
    <ion-select value="{{ selectedLanguage }}" okText="OK" cancelText="Cancel" (ionChange)="changeLanguage()" #language>
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="fr">Français</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-button size="default" expand="full" (click)="start()" style="margin-top: 3%; margin-left: 5%; margin-right: 5%; margin-bottom: 5%">
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
    {{ 'welcome.command' | translate }}
  </ion-button>
  
</ion-content>