<ion-content>
	<div id="container">
		<div style="padding: 5%">
			<img src="assets/vector.png" style="max-width: 200px">
			<h1 style="text-align: center;">{{ 'signup.text1' | translate }}</h1>
			<form>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 0%; border-radius: 3px" lines="none">
					<ion-icon name="person-outline" size="small" style="margin-right: 5%" color="primary"></ion-icon>
					<ion-input  type="text" required="true" #name style="--background: rgba(0,0,0,0);" placeholder="{{ 'signup.name' | translate }}"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-icon name="mail-outline" size="small" style="margin-right: 5%" color="primary"></ion-icon>
					<ion-input  type="email" required="true" #email style="--background: rgba(0,0,0,0);" placeholder="{{ 'signup.email' | translate }}"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-icon name="call-outline" size="small" style="margin-right: 5%" color="primary"></ion-icon>
					<ion-input  type="tel" minlength="6" required="true" #phone style="--background: rgba(0,0,0,0);" placeholder="{{ 'signup.phone' | translate }}"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-icon name="lock-closed-outline" size="small" style="margin-right: 5%" color="primary" position="stacked"></ion-icon>
					<ion-input type="password" minlength="6" required="true" #password placeholder="{{ 'signup.password' | translate }}" style="--background: rgba(0,0,0,0)"></ion-input>
				</ion-item>
				
				<ion-button size="default" expand="full" (click)="signup()" style="margin-top: 5%;" [disabled]=!ishidden>
					<ion-ripple-effect type="bounded"></ion-ripple-effect>
					{{ 'signup.text1' | translate }} <ion-spinner name="lines-small" [hidden]=ishidden></ion-spinner>
				</ion-button>
				<p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
			</form>
		</div>
		<p (click)="helper.back()" style="margin-top: 2%; margin-bottom: 5%">{{ 'signup.noaccount' | translate }} <span style="color: #3880ff">{{ 'signup.signin' | translate }}</span></p>
	</div>
</ion-content>
