<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Amateur
      </ion-title>
      <ion-buttons slot="start">
	      <ion-back-button></ion-back-button>
	    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
