<ion-content>
	<div id="container">
		<div style="padding: 5%">
			<img src="assets/secret.png" style="max-width: 200px">
			<h1 style="text-align: center;">{{ 'forgotpassword.text1' | translate }}</h1>
			<p>{{ 'forgotpassword.message' | translate }}</p>
			<form>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 0%; border-radius: 3px" lines="none">
					<ion-icon name="mail-outline" size="small" style="margin-right: 5%" color="primary"></ion-icon>
					<ion-input  type="email" required="true" #email style="--background: rgba(0,0,0,0);" placeholder="{{ 'forgotpassword.email' | translate }}"></ion-input>
				</ion-item>
				
				<ion-button size="default" expand="full" (click)="submit()" style="margin-top: 5%;" [disabled]=!ishidden>
					<ion-ripple-effect type="bounded"></ion-ripple-effect>
					{{ 'forgotpassword.submit' | translate }} <ion-spinner name="lines-small" [hidden]=ishidden></ion-spinner>
				</ion-button>
				<p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
			</form>
		</div>
		<p (click)="helper.back()" style="text-align: center;">{{ 'forgotpassword.noaccount' | translate }} <span style="color: #3880ff">{{ 'forgotpassword.signin' | translate }}</span></p>
	</div>
</ion-content>
