<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Professional
      </ion-title>
      <ion-buttons slot="start">
	      <ion-back-button></ion-back-button>
	    </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item lines="none" (click)="navigate('pronouns')" detail="true">
			<ion-icon name="briefcase" slot="start" size="small" color="light" style="background: #ca41f4; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.pronouns' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">I, You, He/She/It, They, We</p>
			</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="navigate('nouns')" detail="true">
			<ion-icon name="people" slot="start" size="small" color="light" style="background: #0a5928; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.nouns' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">Common nouns at home, school, church, etc.</p>
			</ion-label>
		</ion-item>
		<ion-item lines="none" (click)="navigate('adjectives')" detail="true">
			<ion-icon name="checkmark-circle-outline" slot="start" size="small" color="light" style="background: #ed4015; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.adjectives' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">Colors, sizes, opinions, nationalities etc.</p>
			</ion-label>
		</ion-item>
		<ion-item lines="none" (click)="navigate('adverbs')" detail="true">
			<ion-icon name="list-circle-outline" slot="start" size="small" color="light" style="background: #001a33; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.adverbs' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">Manner, time, place, frequency, degree</p>
			</ion-label>
		</ion-item>
		<ion-item lines="none" (click)="navigate('conjunctions')" detail="true">
			<ion-icon name="add-circle-outline" slot="start" size="small" color="light" style="background: #666; border-radius: 100%; padding: 5px"></ion-icon>
			<ion-label text-wrap style="font-family: 'Ubuntu Light'; font-size: 16px">
				<ion-text>
					<h3 style="font-size: 17px; text-transform: capitalize;">{{ 'pages.conjunctions' | translate }}</h3>
				</ion-text>
				<p style="font-size: 10px">And, Yet, However, So, Although, etc</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>

