<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="dark" (click)="searchitem()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-refresher slot="fixed" (ionRefresh)="refreshme($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> 
  <ion-searchbar animated showCancelButton (ionChange)="filterItems()" #search placeholder="Search" [hidden]=ishidden></ion-searchbar>

  <ion-list #dynamicList>
    <ion-item *ngFor="let notif of notifs; let i = index" (click)="show(notif)">
      <ion-icon name="mail" slot="start" size="large" color="success"></ion-icon>
      <ion-label class="ion-text-wrap" style="font-size: 12px">
        <ion-text style="color:  #424242;">
          <h3 style="font-size: 17px; padding: 7px 8px 3px 10px; font-weight: bold;">{{notif.subject}}</h3>
        </ion-text>
        <p style="font-size: 14px; padding: 2px 8px 5px 10px; white-space: nowrap; text-overflow: ellipsis;">{{notif.message}}</p>
        <p style="font-size: 10px; padding: 2px 8px 7px 10px; white-space: nowrap; text-overflow: ellipsis;">Sent on {{notif.created_at}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
    <p *ngIf="notifs?.length == 0" style="font-size: 13px; text-align: center;">No notifications sent yet</p>
</ion-content>