<body>
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>{{ 'settings.settings' | translate }}</ion-title>
      <ion-buttons slot="start">
	      <ion-back-button></ion-back-button>
	  </ion-buttons>
    </ion-toolbar>
    
  </ion-header>
  <ion-content style="--background: #f1f1f1; --padding-bottom: 35%">
    <ion-list style="--background: #f1f1f1; background: #f1f1f1; padding-left: 2%; padding-right: 2%; padding-bottom: 15%">
      <ion-item lines="none" (click)="helper.navigate('edit-profile')" style="margin-top: 3%; background: #fff; border-radius: 5px; padding: 1% 0;">
        <ion-icon name="person-outline"  slot="start" color="light" style="background: #e91c2b; border-radius: 100%; padding: 10px; font-size: 15px;"></ion-icon>
        <ion-label class="ion-text-wrap" style="padding-left: 2%;">
          <ion-text>
            <h3 style="font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ 'settings.profile' | translate }}</h3>
          </ion-text>
        </ion-label>
        <ion-icon  name="arrow-forward-outline" color="light" style="font-size: 13px; background: #000; padding: 7px; border-radius: 50%" slot="end"></ion-icon>
      </ion-item>

      <ion-item lines="none" (click)="helper.navigate('change-password')" style="margin-top: 3%; background: #fff; border-radius: 5px; padding: 1% 0;">
        <ion-icon name="key-outline"  slot="start" color="light" style="background: #f58a1d; border-radius: 100%; padding: 10px; font-size: 15px;"></ion-icon>
        <ion-label class="ion-text-wrap" style="padding-left: 2%;">
          <ion-text>
            <h3 style="font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ 'settings.password' | translate }}</h3>
          </ion-text>
        </ion-label>
        <ion-icon  name="arrow-forward-outline" color="light" style="font-size: 13px; background: #000; padding: 7px; border-radius: 50%" slot="end"></ion-icon>
      </ion-item>

      <ion-item lines="none" style="margin-top: 3%; background: #fff; border-radius: 5px; padding: 1% 0;">
        <ion-icon name="bulb-outline"  slot="start" color="light" style="background: #000; border-radius: 100%; padding: 10px; font-size: 15px;"></ion-icon>
        <ion-label class="ion-text-wrap" style="padding-left: 2%;">
          <ion-text>
            <h3 style="font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ 'settings.dark' | translate }}</h3>
          </ion-text>
        </ion-label>
        <ion-toggle slot="end" checked="{{dark}}" (click)="darkmode()" color="dark"></ion-toggle>
      </ion-item>

      <ion-item lines="none" (click)="changeLanguage()" style="margin-top: 3%; background: #fff; border-radius: 5px; padding: 1% 0;">
        <ion-icon name="language-outline"  slot="start" color="light" style="background: #0ba350; border-radius: 100%; padding: 10px; font-size: 15px;"></ion-icon>
        <ion-label class="ion-text-wrap" style="padding-left: 2%;">
          <ion-text>
            <h3 style="font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ 'settings.language' | translate }}</h3>
          </ion-text>
        </ion-label>
        <ion-icon  name="arrow-forward-outline" color="light" style="font-size: 13px; background: #000; padding: 7px; border-radius: 50%" slot="end"></ion-icon>
      </ion-item>

      <ion-item lines="none" (click)="helper.navigate('feedback')" style="margin-top: 3%; background: #fff; border-radius: 5px; padding: 1% 0;">
        <ion-icon name="chatbox-ellipses-outline"  slot="start" color="light" style="background: #44a0e2; border-radius: 100%; padding: 10px; font-size: 15px;"></ion-icon>
        <ion-label class="ion-text-wrap" style="padding-left: 2%;">
          <ion-text>
            <h3 style="font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ 'settings.feedback' | translate }}</h3>
          </ion-text>
        </ion-label>
        <ion-icon  name="arrow-forward-outline" color="light" style="font-size: 13px; background: #000; padding: 7px; border-radius: 50%" slot="end"></ion-icon>
      </ion-item>

      <ion-item lines="none" href="http://518innovations.com/kasa" style="margin-top: 3%; background: #fff; border-radius: 5px; padding: 1% 0;" detail="false">
        <ion-icon name="information-outline"  slot="start" color="light" style="background: #d80b91; border-radius: 100%; padding: 10px; font-size: 15px;"></ion-icon>
        <ion-label class="ion-text-wrap" style="padding-left: 2%;">
          <ion-text>
            <h3 style="font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ 'settings.about' | translate }}</h3>
          </ion-text>
        </ion-label>
        <ion-icon  name="arrow-forward-outline" color="light" style="font-size: 13px; background: #000; padding: 7px; border-radius: 50%" slot="end"></ion-icon>
      </ion-item>

      <ion-item lines="none" (click)="signout()" style="margin-top: 3%; background: #fff; border-radius: 5px; padding: 1% 0;">
        <ion-icon name="log-out-outline"  slot="start" color="light" style="background: #693598; border-radius: 100%; padding: 10px; font-size: 15px;"></ion-icon>
        <ion-label class="ion-text-wrap" style="padding-left: 2%;">
          <ion-text>
            <h3 style="font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ 'settings.signout' | translate }}</h3>
          </ion-text>
        </ion-label>
        <ion-icon  name="arrow-forward-outline" color="light" style="font-size: 13px; background: #000; padding: 7px; border-radius: 50%" slot="end"></ion-icon>
      </ion-item>

      <!--<ion-item lines="none" (click)="deleteuser()" style="margin-top: 3%; background: #fff; border-radius: 5px; padding: 1% 0;">
        <ion-icon name="person-outline"  slot="start" color="light" style="background: #6c330d; border-radius: 100%; padding: 10px; font-size: 15px;"></ion-icon>
        <ion-label class="ion-text-wrap" style="padding-left: 2%;">
          <ion-text>
            <h3 style="font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ 'settings.delete' | translate }}</h3>
          </ion-text>
        </ion-label>
        <ion-icon  name="arrow-forward-outline" color="light" style="font-size: 13px; background: #000; padding: 7px; border-radius: 50%" slot="end"></ion-icon>
      </ion-item>-->

    </ion-list>
  </ion-content>
  </body>